{%- unless t -%}
  {%- assign t = site.data.i18n[site.active_lang].strings -%}
  {%- unless t -%}{%- assign t = site.data.i18n.en.strings -%}{%- endunless -%}
{%- endunless -%}
{% if include.fluid.amount %}{{ include.fluid.amount }} {{ t.fluid.millibucket }} {% endif %}
{%- assign fluid_lang = mod_lang | where: "key", include.fluid.id | first -%}
{% if fluid_lang %}
    {{ fluid_lang.data }}
{%- else -%}
    {{ include.fluid.id | split: ":" | last | replace: "_", " " | capitalize_all }}
{%- endif -%}
{% if include.fluid.nbt and include.fluid.nbt.size > 0 %}
    <details>
        <summary>{{ t.fluid.show_nbt }}</summary>
        <pre>{{ include.fluid.nbt | jsonify | replace: '\u0026', '&' | replace: '\u003c', '<' | replace: '\u003e', '>' }}</pre>
    </details>
{% endif %}