{%- assign recipes = page.recipes -%}
{%- assign recipe_types = page.recipe_types -%}

{%- if page.total_recipes > 0 -%}
    <div class="recipe-types">
        <h2><strong>Recipe Types</strong></h2>
        <ul>
            {%- for recipe_type in recipe_types -%}
                {%- if recipe_type.loader == nil -%}
                    {%- assign type = recipe_type | split: "-" | last -%}
                    <div class="recipe-type-container">
                        <li>
                            <a href="#{{ recipe_type }}">{{ site.data.crafting_types[recipe_type] }}</a>
                            <label class="switch">
                                <input id="{{ recipe_type }}-checkbox" class="toggle-checkbox" data-target="{{ recipe_type }}" type="checkbox" checked>
                                <span class="slider"></span>
                            </label>
                        </li>
                    </div>
                {%- endif -%}
            {%- endfor -%}
            {%- for recipe_type in recipe_types -%}
                {%- if recipe_type.loader != nil -%}
                    {%- assign type = recipe_type.value -%}
                    {%- assign recipe_type_name = site.data.crafting_types[type] | default: type -%}
                    <div class="recipe-type-container">
                        <li>
                            <a href="#{{ type }}/{{ recipe_type.loader }}">{{ recipe_type_name }} ({{ recipe_type.loader }})</a>
                            <label class="switch">
                                <input id="{{ type }}/{{ recipe_type.loader }}-checkbox" class="toggle-checkbox" data-target="{{ type }}/{{ recipe_type.loader }}" type="checkbox" checked>
                                <span class="slider"></span>
                            </label>
                        </li>
                    </div>
                {%- endif -%}
            {%- endfor -%}
            <li><a id="open-all" class="toggle-btn">Open All</a></li>
            <li><a id="close-all" class="toggle-btn">Close All</a></li>
        </ul>
    </div>

    <div class="recipe-list">
        {%- for recipe_type in recipe_types -%}
            {%- if recipe_type.loader == nil -%}
                <h2 id="{{ recipe_type }}" class="category-header"><strong>{{ site.data.crafting_types[recipe_type] }}</strong></h2>
                <div class="category-content">
                    {%- for recipe in recipes -%}
                        {%- if recipe_type == recipe['type'] and recipe['loader'] == nil -%}
                            <div class="recipe-card">
                                <h3 id="{{ recipe_type }}/{{ recipe['filename'] }}"><strong>{{ recipe['filename'] | replace: "_", " " | capitalize_all }}</strong></h3>
                                <div class="recipe-details">
                                    <div class="recipe-info">
                                        {%- include minecraft-mod/wiki/recipe-info.html recipe=recipe -%}
                                    </div>
                                    <div class="recipe-input">
                                        {%- include minecraft-mod/wiki/recipe-input.html recipe=recipe -%}
                                    </div>
                                    <div class="recipe-output">
                                        {%- include minecraft-mod/wiki/recipe-output.html recipe=recipe -%}
                                    </div>
                                </div>
                                <!--  USED FOR DEBUGGING  -->
                                <!-- <p>{{ recipe }}</p> -->
                            </div>
                        {%- endif -%}
                    {%- endfor -%}
                </div>
            {%- endif -%}
        {%- endfor -%}
        {%- for recipe_type in recipe_types -%}
            {%- if recipe_type.loader != nil -%}
                {%- assign loader = recipe_type.loader -%}
                {%- assign type = recipe_type.value -%}
                {%- assign recipe_type_name = site.data.crafting_types[type] | default: type -%}
                <h2 id="{{ type }}/{{ loader }}" class="category-header"><strong>{{ recipe_type_name }} ({{ loader }})</strong></h2>
                <div class="category-content">
                    <div class="opposite-category">
                        {%- if loader == 'fabric' -%}
                            {%- assign opposite_loader = 'neoforge' -%}
                        {%- elsif loader == 'forge' -%}
                            {%- assign opposite_loader = 'fabric' -%}
                        {%- else -%}
                            {%- assign opposite_loader = 'fabric' -%}
                        {%- endif -%}
                        <a href="#{{ type }}/{{ opposite_loader }}">{{ recipe_type_name }} ({{ opposite_loader }})</a>
                    </div>
                    {%- for recipe in recipes -%}
                        {%- if type == recipe['type'] and recipe['loader'] == loader -%}
                            <div class="recipe-card">
                                <h3 id="{{ loader }}/{{ type }}/{{ recipe['filename'] }}"><strong>{{ recipe['filename'] | replace: "_", " " | capitalize_all }} ({{ recipe.loader }})</strong></h3>
                                <div class="recipe-details">
                                    <div class="recipe-info">
                                        {%- include minecraft-mod/wiki/recipe-info.html recipe=recipe -%}
                                    </div>
                                    <div class="recipe-input">
                                        {%- include minecraft-mod/wiki/recipe-input.html recipe=recipe -%}
                                    </div>
                                    <div class="recipe-output">
                                        {%- include minecraft-mod/wiki/recipe-output.html recipe=recipe -%}
                                    </div>
                                </div>
                                <!--  USED FOR DEBUGGING  -->
                                <!-- <p>{{ recipe }}</p> -->
                            </div>
                        {%- endif -%}
                    {%- endfor -%}
                </div>
            {%- endif -%}
        {%- endfor -%}
    </div>
{%- endif -%}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Handle right-click on Recipe Types List Header
        document.querySelectorAll('.recipe-types a').forEach(link => {
            link.addEventListener('contextmenu', function(e) {
                e.preventDefault();
                const targetId = this.getAttribute('href').substring(1);
                const categoryHeader = document.getElementById(targetId);
                const checkbox = document.querySelector(`.recipe-types .recipe-type-container .toggle-checkbox[data-target="${targetId}"]`);

                categoryHeader.classList.toggle('closed');
                checkbox.checked = !categoryHeader.classList.contains('closed');
            });
        });

        // Handle left-click on Recipe Type Headers
        document.querySelectorAll('.category-header').forEach(link => {
            link.addEventListener('click', function(e) {
                const targetId = this.getAttribute('id');
                const checkbox = document.querySelector(`.toggle-checkbox[data-target="${targetId}"]`);
                
                this.classList.toggle('closed');
                checkbox.checked = !this.classList.contains('closed');
            });
        });
    });

    // Handle "Open All" Button
    document.getElementById('open-all').addEventListener('click', function() {
        document.querySelectorAll('.category-header').forEach(header => {
            const targetId = header.getAttribute('id');
            const checkbox = document.querySelector(`.recipe-types .recipe-type-container .toggle-checkbox[data-target="${targetId}"]`);
            
            if (header.classList.contains('closed')) {
                header.classList.remove('closed');
                checkbox.checked = true;
            }
        });
    });

    // Handle "Close All" Button
    document.getElementById('close-all').addEventListener('click', function() {
        document.querySelectorAll('.category-header').forEach(header => {
            const targetId = header.getAttribute('id');
            const checkbox = document.querySelector(`.recipe-types .recipe-type-container .toggle-checkbox[data-target="${targetId}"]`);
            
            if (!header.classList.contains('closed')) {
                header.classList.add('closed');
                checkbox.checked = false;
            }
        });
    });

    // Handle Recipe Type Toggle Switch
    document.querySelectorAll('.switch input[type="checkbox"]').forEach(function(checkbox) {
        const targetId = checkbox.getAttribute('data-target');
        const header = document.getElementById(targetId);
        
        checkbox.addEventListener('change', function() {
            if (this.checked) {
                header.classList.remove('closed');
            } else {
                header.classList.add('closed');
            }
        });
    });
</script>

