{%- if recipe['output'] -%}
    <p><strong>Output:</strong></p>
    <ul>
        {%- assign size = recipe['output'] | size -%}
        {%- if size > 1 -%}
            {%- for ingredient in recipe['output'] -%}
                <li>
                    {%- if ingredient['fluid'] -%}
                        {% include minecraft-mod/wiki/fluid-renderer.html fluid=ingredient.fluid %}
                    {%- elsif ingredient['tag'] -%}
                        {% include minecraft-mod/wiki/tag-renderer.html tag=ingredient.tag %}
                    {%- else -%}
                        {% include minecraft-mod/wiki/item-renderer.html item=ingredient.item %}
                    {%- endif -%}
                    {%- if ingredient['chance'] -%}
                        ({{ ingredient['chance'] | times: 100 | round }}%)
                    {%- endif -%}
                </li>
            {%- endfor -%}
        {%- else -%}
            <li>
                {%- if recipe['output'][0]['fluid'] -%}
                    {% include minecraft-mod/wiki/fluid-renderer.html fluid=recipe.output.first.fluid %}
                {%- elsif recipe['output'][0]['tag'] -%}
                    {% include minecraft-mod/wiki/tag-renderer.html tag=recipe.output.tag %}
                {%- elsif recipe['output']['item'] -%}
                    {% include minecraft-mod/wiki/item-renderer.html item=recipe.output.item %}
                {%- elsif recipe['output'].first.item -%}
                    {% include minecraft-mod/wiki/item-renderer.html item=recipe.output.first.item %}
                {%- endif -%}
            </li>
        {%- endif -%}
    </ul>
{%- endif -%}