{%- assign recipes = page.recipes -%}
{%- assign total_recipes = recipes | size -%}
{% assign recipe_types = page.recipe_types %}

{%- if total_recipes > 0 -%}
    <div class="recipe-types">
        <h2><strong>Recipe Types</strong></h2>
        <ul>
            {%- for recipe_type in recipe_types -%}
                <div class="recipe-type-container">
                    <li>
                        <a href="#{{ recipe_type }}">{{ site.data.crafting_types[recipe_type] }}</a>
                        <label class="switch">
                            <input class="toggle-checkbox" data-target="{{ recipe_type }}" type="checkbox" checked>
                            <span class="slider"></span>
                        </label>
                    </li>
                </div>
            {%- endfor -%}
            <li><a id="open-all" class="toggle-btn">Open All</a></li>
            <li><a id="close-all" class="toggle-btn">Close All</a></li>
        </ul>
    </div>

    <div class="recipe-list">
        {%- for recipe_type in recipe_types -%}
            <h2 id="{{ recipe_type }}" class="category-header"><strong>{{ site.data.crafting_types[recipe_type] }}</strong></h2>
            <div class="category-content">
                {%- for recipe in recipes -%}
                    {%- if recipe_type == recipe['type'] -%}
                        <div class="recipe-card">
                            <h3 id="{{ recipe_type }}/{{ recipe['filename'] }}"><strong>{{ recipe['filename'] | replace: "_", " " | capitalize_all }}</strong></h3>
                            <div class="recipe-details">
                                <div class="recipe-info">
                                    {%- if recipe['type'] -%}
                                        <p><strong>Type:</strong> {{ site.data.crafting_types[recipe_type] }}</p>
                                    {%- endif -%}
                                    {%- if recipe['category'] -%}
                                        <p><strong>Category:</strong> {{ recipe['category'] | capitalize }}</p>
                                    {%- endif -%}
                                    {%- if recipe['recipe_book_tab'] -%}
                                        <p><strong>Recipe Book Tab:</strong> {{ recipe['recipe_book_tab'] | capitalize_all }}</p>
                                    {%- endif -%}
                                    {%- if recipe['cookingtime'] -%}
                                        <p><strong>Cooking Time:</strong> {{ recipe['cookingtime'] }}</p>
                                    {%- endif -%}
                                    {%- if recipe['experience'] -%}
                                        <p><strong>Experience:</strong> {{ recipe['experience'] }}</p>
                                    {%- endif -%}
                                    {%- if recipe['tool'] -%}
                                        {% assign mc_version = page.minecraft_version | replace: ".", "-" %}
                                        {%- assign tool = recipe['tool'] -%}
                                        {%- assign tool_tag = site.data.tags[mc_version][tool] -%}
                                        {%- if tool_tag -%}
                                            <p><strong>Tool:</strong> <span title="{{ tool }}" style="cursor: pointer;">{{ tool_tag }}<span class="tag-info">*</span></span></p>
                                        {%- else -%}
                                            <p><strong>Tool:</strong> {{ recipe['tool'] }}</p>
                                        {%- endif -%}
                                    {%- endif -%}
                                </div>
                                <div class="recipe-input">
                                    {%- if recipe['input'] -%}
                                        <p><strong>Ingredients:</strong></p>
                                        <ul>
                                            {%- if recipe['input'] | kind_of: "array" -%}
                                                {%- for ingredient in recipe['input'] -%}
                                                    <li>
                                                        {%- if ingredient['tag'] -%}
                                                            {% include minecraft-mod/wiki/tag-renderer.html tag=ingredient.tag %}
                                                        {%- elsif ingredient['item']['id'] -%}
                                                            {% include minecraft-mod/wiki/item-renderer.html item=ingredient.item %}
                                                        {%- elsif recipe.input.tag.id -%}
                                                            {% include minecraft-mod/wiki/tag-renderer.html tag=recipe.input.tag %}
                                                        {%- elsif recipe.input.item.id -%}
                                                            {% include minecraft-mod/wiki/item-renderer.html item=recipe.input.item %}
                                                        {%- endif -%}
                                                        {%- if ingredient['key'] -%}
                                                            ({{ ingredient['key'] }})
                                                        {%- endif -%}
                                                    </li>
                                                {%- endfor -%}
                                            {%- else -%}
                                                <li>
                                                    {%- if recipe['input'].first.item.id -%} 
                                                        {% include minecraft-mod/wiki/item-renderer.html item=recipe.input.first.item %}
                                                    {%- elsif recipe['input']['tag'] -%}
                                                        {% include minecraft-mod/wiki/tag-renderer.html tag=recipe.input.tag %}
                                                    {%- elsif recipe['input']['item']['id'] -%}
                                                        {% include minecraft-mod/wiki/item-renderer.html item=recipe.input.item %}
                                                    {%- endif -%}
                                                </li>
                                            {%- endif -%}
                                        </ul>
                                    {%- endif -%}
                                    {%- if recipe['pattern'] -%}
                                        <p><strong>Pattern:</strong></p>
                                        <p>
                                            <div class="crafting-grid">
                                                {% for row in (0..2) %}
                                                    <div class="grid-row">
                                                        {% for col in (0..2) %}
                                                            {% assign coord = col | append: '_' | append: row %}
                                                            <span>{{ recipe['pattern'][coord] }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </p>
                                    {%- endif -%}
                                </div>
                                <div class="recipe-output">
                                    {%- if recipe['output'] -%}
                                        <p><strong>Output:</strong></p>
                                        <ul>
                                            {%- assign size = recipe['output'] | size -%}
                                            {%- if size > 1 -%}
                                                {%- for ingredient in recipe['output'] -%}
                                                    <li>
                                                        {%- if ingredient['tag'] -%}
                                                            {% include minecraft-mod/wiki/tag-renderer.html tag=ingredient.tag %}
                                                        {%- else -%}
                                                            {% include minecraft-mod/wiki/item-renderer.html item=ingredient.item %}
                                                        {%- endif -%}
                                                        {%- if ingredient['chance'] -%}
                                                            ({{ ingredient['chance'] | times: 100 | round }}%)
                                                        {%- endif -%}
                                                    </li>
                                                {%- endfor -%}
                                            {%- else -%}
                                                <li>
                                                    {%- if recipe['output']['tag'] -%}
                                                        {% include minecraft-mod/wiki/tag-renderer.html tag=recipe.output.tag %}
                                                    {%- elsif recipe['output']['item'] -%}
                                                        {% include minecraft-mod/wiki/item-renderer.html item=recipe.output.item %}
                                                    {%- elsif recipe['output'].first.item -%}
                                                        {% include minecraft-mod/wiki/item-renderer.html item=recipe.output.first.item %}
                                                    {%- endif -%}
                                                </li>
                                            {%- endif -%}
                                        </ul>
                                    {%- endif -%}
                                </div>
                            </div>
                            <!--  USED FOR DEBUGGING  -->
                            <!-- <p>{{ recipe }}</p> -->
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            </div>
        {%- endfor -%}
    </div>
{%- endif -%}

<script>
    // Handle right-click on Recipe Types List Header
    document.addEventListener('DOMContentLoaded', function() {
        const categoryLinks = document.querySelectorAll('.recipe-types a');

        categoryLinks.forEach(link => {
            link.addEventListener('contextmenu', function(e) {
                e.preventDefault();
                const targetId = this.getAttribute('href').substring(1);
                const categoryHeader = document.getElementById(targetId);
                const checkbox = document.querySelector(`.recipe-types .recipe-type-container .toggle-checkbox[data-target="${targetId}"]`);

                categoryHeader.classList.toggle('closed');
                checkbox.checked = !categoryHeader.classList.contains('closed');
            });
        });
    });

    // Handle Click on Recipe Type Headers, left and right click work here
    document.addEventListener('DOMContentLoaded', function() {
        var headers = document.querySelectorAll('.category-header');
        headers.forEach(function(header) {
            header.addEventListener('click', handleClick);
            header.addEventListener('contextmenu', handleClick);

            function handleClick(e) {
            if (e.type === 'contextmenu') {
                e.preventDefault();
            }
            const targetId = this.getAttribute('id');
            const checkbox = document.querySelector(`.toggle-checkbox[data-target="${targetId}"]`);
            
            this.classList.toggle('closed');
            checkbox.checked = !this.classList.contains('closed');
        }
        });
    });

    // Handle "Open All" Button
    document.getElementById('open-all').addEventListener('click', function() {
        document.querySelectorAll('.category-header').forEach(header => {
            const targetId = header.getAttribute('id');
            const checkbox = document.querySelector(`.recipe-types .recipe-type-container .toggle-checkbox[data-target="${targetId}"]`);
            
            if (header.classList.contains('closed')) {
                header.classList.remove('closed');
                checkbox.checked = true;
            }
        });
    });

    // Handle "Close All" Button
    document.getElementById('close-all').addEventListener('click', function() {
        document.querySelectorAll('.category-header').forEach(header => {
            const targetId = header.getAttribute('id');
            const checkbox = document.querySelector(`.recipe-types .recipe-type-container .toggle-checkbox[data-target="${targetId}"]`);
            
            if (!header.classList.contains('closed')) {
                header.classList.add('closed');
                checkbox.checked = false;
            }
        });
    });

    // Handle Recipe Type Toggle Switch
    document.querySelectorAll('.switch input[type="checkbox"]').forEach(function(checkbox) {
        const targetId = checkbox.getAttribute('data-target');
        const header = document.getElementById(targetId);
        
        checkbox.addEventListener('change', function() {
            if (this.checked) {
                header.classList.remove('closed');
            } else {
                header.classList.add('closed');
            }
        });
    });
</script>

