---
layout: base
---

{%- assign base_mod_info = site.data.minecraft_mods | where: "id", page.mod_id | first -%}

<div class="wrapper">
    <nav class="minecraft-mod-nav main-mod-nav">
        <ul class="menu">
            <li><a href="{{ page.mod_id | relative_url }}"><img src="/assets/img/buttons/button_home.png" alt="Home"></a></li>
            <li><a href="{{ page.mod_id | relative_url }}/wiki/{{ base_mod_info.wiki_default_minecraft_version | escape }}/home.html"><img src="/assets/img/buttons/button_wiki.png" alt="Wiki"></a></li>
            <li><a href="{{ page.mod_id | relative_url }}/changelog.html"><img src="/assets/img/buttons/button_changelog.png" alt="Changelog"></a></li>
            <li><a href="{{ page.mod_id | relative_url }}/roadmap.html"><img src="/assets/img/buttons/button_roadmap.png" alt="Roadmap"></a></li>
        </ul>
    </nav>
</div>

{{ content }}