---
layout: minecraft-mod/base
---

{%- assign mod_info = site.data.minecraft_mods | where: "id", page.mod_id | first -%}

<article class="post">

    <header class="minecraft-mod-header">
        {%- if mod_info.banner -%}
            <img src="{{ mod_info.banner | relative_url }}" alt="{{ mod_info.title | escape }}">
        {%- else -%}
            <h1 class="post-title">{{ mod_info.title }}</h1>
        {%- endif -%}
    </header>

    <div class="wrapper">
        <nav class="minecraft-mod-nav">
            <ul class="menu">
                {%- if mod_info.url_modrinth -%}
                    <li><a href="{{ mod_info.url_modrinth }}" target="_blank"><img src="/assets/img/buttons/button_modrinth.png" alt="Modrinth" /></a></li>
                {%- endif -%}
                {%- if mod_info.url_curseforge -%}
                    <li><a href="{{ mod_info.url_curseforge }}" target="_blank"><img src="/assets/img/buttons/button_curseforge.png" alt="Curseforge" /></a></li>
                {%- endif -%}
                {%- if mod_info.source -%}
                    <li><a href="{{ mod_info.source }}" target="_blank"><img src="/assets/img/buttons/button_source.png" alt="Source" /></a></li>
                {%- endif -%}
                {%- if mod_info.issues -%}
                    <li><a href="{{ mod_info.issues }}" target="_blank"><img src="/assets/img/buttons/button_issues.png" alt="Issues" /></a></li>
                {%- endif -%}
            </ul>
        </nav>
    </div>

    <br />

    <div class="post-content">
        {{ content }}
    </div>

    {% if site.paginate %}
        {% assign posts = paginator.posts %}
    {% else %}
        {% assign posts = site.posts %}
    {% endif %}

    {%- assign filtered_posts = posts | where: "mod_id", page.mod_id -%}

    {%- if filtered_posts.size > 0 -%}
        <h2 class="post-list-heading">Updates</h2>
        <ul class="post-list">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {%- for post in filtered_posts -%}
                <li>
                    <span class="post-meta">{{ post.date | date: date_format }}</span>
                    <span class="post-meta">
                        <!-- {% assign minecraft_versions = post.minecraft_version | split: ", " %}
                        {% assign minecraft_loaders = post.minecraft_loader | split: ", " %}
                        {% assign mod_info = site.data.minecraft_mods | where: "id", post.mod_id | first %}
        
                        {%- if post.mod_id -%}
                            • {{ mod_info.title | escape }}&nbsp;
                        {%- endif -%}
                        {%- if minecraft_versions.size > 0 -%}
                            • {{ minecraft_versions | join: ", " }}&nbsp;
                        {%- endif -%}
                        {%- if minecraft_loaders.size > 0 -%}
                            • {{ minecraft_loaders | join: ", " }}
                        {%- endif -%} -->
                    </span>
                    <h3>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        {%- if post.mod_title -%}
                        {{ post.mod_title | escape }}&nbsp;-&nbsp;
                        {%- endif -%}
                        {%- if post.mod_version -%}
                        {{ post.mod_version | escape }}&nbsp;-&nbsp;
                        {%- endif -%}
                        {%- if post.title -%}
                        {{ post.title | escape }}
                        {%- endif -%}
                    </a>
                    </h3>
                    {%- if site.show_excerpts -%}
                    {{ post.excerpt }}
                    {%- endif -%}
                </li>
            {%- endfor -%}
        </ul>

        {% if site.paginate %}
            <div class="pager">
                <ul class="pagination">
                    {%- if paginator.previous_page %}
                        <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
                    {%- else %}
                        <li><div class="pager-edge">•</div></li>
                    {%- endif %}
                        <li><div class="current-page">{{ paginator.page }}</div></li>
                    {%- if paginator.next_page %}
                        <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
                    {%- else %}
                        <li><div class="pager-edge">•</div></li>
                    {%- endif %}
                </ul>
            </div>
        {%- endif %}
    {%- endif -%}

</article>