---
layout: minecraft-mod/base
---

{%- assign mod_info = site.data.minecraft_mods | where: "id", page.mod_id | first -%}

<article class="post">

    <header class="post-header">
        <h1 class="post-title">{{ mod_info.title | escape }} Roadmap</h1>
    </header>

    <div class="post-content">
        <p>
            Welcome to the Roadmap for {{ mod_info.title | escape }}. Here you can find information
            about upcoming features, changes, and bug fixes.
        </p>
        {{ content }}
    </div>

</article>