<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">
        <div class="footer-content">
            <p class="footer-text">
                Built by <a class="footer-link">{{ site.title | split: "'" | first | strip }}</a> · 
                Hosted on <a href="https://github.com/ChefMooon/chefmooon.github.io" target="_blank" class="footer-link">GitHub</a> Pages
                {%- assign social_ids = "discord,modrinth,curseforge" | split: "," -%}
                {%- for social_id in social_ids -%}
                    {%- for social in site.data.socials -%}
                        {%- if social.id == social_id -%}
                &nbsp;·&nbsp;<a href="{{ social.url }}" target="_blank" class="footer-link" title="{{ social.label }}">{{ social.label }}</a>
                        {%- endif -%}
                    {%- endfor -%}
                {%- endfor %}
                 · <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}" target="_blank" class="footer-link" title="RSS Feed">RSS</a>
            </p>
        </div>
    </div>

</footer>