---
layout: minecraft-mod/wiki/base
---

{%- assign mod_info = site.data.minecraft_mods | where: "id", page.mod_id | first -%}

<article class="post">

    <header class="post-header">
        <h1 class="post-title">Block Details</h1>
    </header>

    {%- assign quick_links_size = page.quick_links | size -%}
    {%- if quick_links_size > 0 -%}
    <div class="quick-links">
        <ul>
            <li><h3>Quick Links:</h3></li>
            {%- for link in page.quick_links -%}
            <li><a href="#{{ link.href }}">{{ link.alt }}</a></li>
            {%- endfor -%}
        </ul>
    </div>
    {%- endif -%}

    <div class="post-content">
        {{ content }}
    </div>

</article>