---
layout: minecraft-mod/wiki/base
---

{%- assign mod_info = site.data.minecraft_mods | where: "id", page.mod_id | first -%}
{%- assign version_folder = page.minecraft_version | replace: ".", "-" -%}
{%- assign version_recipes = site.data[page.mod_id].recipes[version_folder] -%}

{% assign type_mapping = site.data.crafting_types %}

<article class="post">

    <header class="post-header">
        <h1 class="post-title">Recipes</h1>
    </header>

    <p>
        {{ mod_info.title }} has a total of {{ page.total_recipes }} recipes. Below is a list of all the recipes in the mod.
    </p>

    <p>
        Left-Click on a recipe type to jump to the list of recipes for that type.<br />
        Toggle recipe type visibility using the toggle or by right-clicking the type.<br />
        Some recipes and recipe types are specific to a certain mod loader. These recipes will be marked with the loader name in parentheses.<br />
    </p>

    <p>
        Note: this page is a work in progress. Some recipes may be missing or incorrect.<br />
        Item names are taken from the ID's so they may look odd. ("Lapis Lazuli Block" => "minecraft:lapis_block").
        Any Item with a <span class="tag-info">*</span> next to it is a tag that accepts multiple items.
        Hover over the Item to see the tag name.
    </p>

    {%- include minecraft-mod/wiki/recipe-list.html -%}

    <div class="post-content">
        {{ content }}
    </div>
    
</article>